[loggers]
keys=root

[handlers]
keys=consoleHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[handler_consoleHandler]
class=StreamHandler
args=(sys.stdout,)
level=DEBUG
formatter=simpleFormatter

[formatter_simpleFormatter]
format=[%(asctime)s][%(levelname)5s][%(filename)s][line:%(lineno)d]: %(message)s
datefmt=%Y/%m/%d-%H:%M:%S